/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path : "../fonts" !default;
$stable : #fafafa;
$assertive : #df3b1a;
$calm : #00b5cc;

$item-default-active-bg : #00b5cc  ;
$item-default-active-border : #00b5cc ;

body {
  -ms-touch-action: pan-y;
  -ms-content-zooming: none;
}

.ion-list  {
  -ms-touch-action: pan-y;
}

/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
