<ion-content class="start-scene">
    <h1 class="logo text-center clearfix"><img src="./assets/images/logo.png" class="respensive-image" alt="logo" /></h1>
    <ul class="main-menu">
        <li class="start"><a class="custom-button" ng-click="mainCtrl.goToState('levels')"><img class="respensive-image" src="./assets/images/text/start.png" /></a></li>
        <li class="options"><a class="custom-button" href="#options"><img class="respensive-image" src="./assets/images/text/options.png" /></a></li>
        <li class="credit"><a class="custom-button" href="#start"><img class="respensive-image" src="./assets/images/text/credit.png" /></a></li>
    </ul>
    <div class="hero"></div>
    <ul class="sub-menu">
        <li>
            <input id="son-check" type="checkbox" ng-model="vm.audio.son" ng-change="vm.playerAudioSettings()" name="son" />
            <label for="son-check" class="son"></label>
        </li>
        <li>
            <input id="musique-check" type="checkbox" ng-model="vm.audio.musique" ng-change="vm.playerAudioSettings()" name="musique" />
            <label for="musique-check" class="musique"></label>
        </li>
    </ul>
</ion-content>