<ion-content class="start-scene">
    <h1 class="logo text-center clearfix"><img src="./assets/images/logo.png" class="respensive-image" alt="logo" /></h1>
    <ul class="level-menu">
        <li class="index active"><a class="custom-button" ng-click="mainCtrl.goToState('game',1)">1</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game',2)">2</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game',3)">3</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">4</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">5</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">6</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">7</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">8</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">9</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">10</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">11</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">12</a></li>
        <li class="index"><a class="custom-button" ng-click="mainCtrl.goToState('game')">13</a></li>
        <li class="index inactive"><a class="custom-button" ng-click="mainCtrl.goToState('game')">14</a></li>
    </ul>

    <div class="footer">
        <a id="play" ng-click="mainCtrl.goToState('game')" class="play-button" href="game.html">
            <img class="respensive-image" src="../assets/images/text/play.png" class="vertical-center" alt="play" />
        </a>
    </div>
</ion-content>