<ion-content class="start-scene">
    <h1 class="logo text-center clearfix"><img src="./assets/images/logo.png" class="respensive-image" alt="logo" /></h1>
    <span ng-show="vm.error">{{vm.error}}</span>
    <ul class="level-menu">
        <li class="index"
            ng-class="{'active': $index+1 == vm.activatedLevel, 'inactive': $index+1 > vm.activatedLevel }"
            ng-disabled ng-repeat="level in vm.levels"
            ng-click="vm.levelSelected($index+1, $index+1 > vm.activatedLevel)"
        >
            <a class="custom-button">{{$index+1}}</a>
        </li>
    </ul>

    <div class="footer">
        <a id="play" ng-click="vm.startGame(vm.selectedLevel)" class="play-button">
            <img class="respensive-image" src="../assets/images/text/play.png" class="vertical-center" alt="play" />
        </a>
    </div>
</ion-content>